<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Svea_Checkout::system_config" title="Svea Checkout Config" />
                            <resource id="Svea_Checkout::log_download" title="Download Log" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Sales::sales">
                    <resource id="Magento_Sales::sales_operation">
                        <resource id="Magento_Sales::sales_order">
                            <resource id="Magento_Sales::actions">
                                <resource id="Svea_Checkout::place_recurring" title="Svea Checkout: Place Recurring Orders" sortOrder="10"/>
                                <resource id="Svea_Checkout::cancel_recurring" title="Svea Checkout: Cancel Recurring Payment" sortOrder="20"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>